{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<main class="main">
  <!-- Hero Section -->
  <section class="intro-highlight text-center py-5">
    <div class="container">
      <h2 class="mb-3">Discover our latest items</h2>
      <p class="lead">
        High-quality items just for you. Shop with ease and confidence.
      </p>
      <a href="#best-sellers" class="btn-discover mt-3">Shop Now</a>
    </div>
  </section>

  <!-- Features Section -->
  <section class="features py-5">
    <div class="container">
      <div class="row text-center g-4">
        <div class="col-lg-3 col-md-6">
          <div class="feature-box">
            <i class="bi bi-truck fs-1 mb-3"></i>
            <h5>Free Shipping</h5>
            <p>For purchases more than ₺500 we do not demand shipping fee.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="feature-box">
            <i class="bi bi-shield-lock fs-1 mb-3"></i>
            <h5>Secure Payment</h5>
            <p>Your payments securety is estabilished.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="feature-box">
            <i class="bi bi-arrow-repeat fs-1 mb-3"></i>
            <h5>Easy Returns</h5>
            <p>If you did not like the item, you can return it anytime.</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="feature-box">
            <i class="bi bi-gift fs-1 mb-3"></i>
            <h5>Special Offers</h5>
            <p>We have speacial offers in every day.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Best Sellers Section: Just for visual purposes -->
  <section id="best-sellers" class="py-5">
    <div class="container">
      <h2 class="text-center mb-4">Best Sellers</h2>
      <div class="row g-4">
        <!-- Product 1 -->
        {%for product in products%}
        <div class="col-md-3 col-sm-6">
          <div class="card h-100 text-center p-3">
            <img
              src="{{ url_for('product_image', product_id=product[0]) }}"
              class="card-img-top"
              alt="{{product[1]}}"
              style="height: 200px; object-fit: cover"
            />
            <div class="card-body">
              <h5 class="card-title">{{product[1]}}</h5>
              <p class="card-text">₺{{product[2]}}</p>
              <a href="#" class="btn-shop">Shop Now</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% endblock %}
